.action-button > Button {
    padding: 6px 0px;
    border-radius: 0;
    flex: 1;
}

.liked-button {
    color: var(--primary);
}

.loved-button {
    color: #f12f4a;
}

.haha-button {
    color: #f9c556;
}
