.wrapper {
    height: 100vh;
    padding: 40px;
}

.title {
    color: var(--white);
    font-size: 16px;
}

.form {
    display: flex;
    flex-direction: column;
}

.input {
    margin: 10px auto;
    width: 40%;
    ::placeholder {
        color: #515365 !important;
    }
}
.submit {
    margin: 10px auto;
    background-color: var(--primary-darker);
    color: #fff;
    width: 20%;
    font-size: 18px;
}
