.buttonDone {
    font-size: 2rem;
    color: var(--white);
    border-radius: 5px;
    width: 100%;
    height: 30px;
    background-color: var(--primary);
}

.buttonDone:hover {
    opacity: 0.8;
    cursor: pointer;
}
