.wrapper {
    display: flex;
    flex-direction: column;
}

.container {
    width: var(--default-layout-header-width);
    min-height: 1000px;
    background-color: var(--background-color);
    display: flex;
    margin-top: var(--default-layout-header-height, 70px);
}

.content {
    flex: 1;
    background-color: var(--background-color);
    min-height: 1000px;
    margin: 24px 360px;
}

.loading-wave {
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.loading-bar {
    width: 20px;
    height: 10px;
    margin: 0 5px;
    background-color: var(--primary);
    border-radius: 5px;
    animation: loading-wave-animation 1s ease-in-out infinite;
}

.loading-bar:nth-child(2) {
    animation-delay: 0.1s;
}

.loading-bar:nth-child(3) {
    animation-delay: 0.2s;
}

.loading-bar:nth-child(4) {
    animation-delay: 0.3s;
}

@keyframes loading-wave-animation {
    0% {
        height: 10px;
    }

    50% {
        height: 50px;
    }

    100% {
        height: 10px;
    }
}
