.wrapper {
    width: 325px;
    height: 450px;
    background-color: var(--white);
    position: fixed;
    bottom: 0;
    right: 100px;
    z-index: 2;
}

.header {
    display: flex;
    margin: 8px 12px;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.username {
    flex: 1;
    font-size: 1.6rem;
    font-weight: 600;
    margin-left: 12px;
    line-height: 40px;
}

.input {
    height: 32px;
    // max-height: 28px;
    width: 82%;
    margin: 10px;
    padding: 4px 12px;
    height: auto;
}

.input::placeholder {
    font-style: normal;
}

.submit {
    margin: 10px;
    font-size: 1.8rem;
    color: var(--primary);
}
