.wrapper {
    max-height: 600px;
    width: 100%;
    margin: -1px auto 30px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
    background-color: #fff;
}

.list-comment {
    border-radius: 0;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.comment-input-bar {
    background-color: var(--white);
    margin-top: auto;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.comment-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.input {
    width: 90%;
}

.submit {
    padding: 12px;
}

.form {
    display: flex;
}

.emoji-container {
    margin-right: 12px;
    display: flex;
    position: relative;
}

.emoji-icon {
    margin: auto;
}

.picker {
    position: absolute;
    top: 50px;
    z-index: 999;
}
