.search {
    width: 100%;
    margin: 0 20px;
}

.search-title {
    padding: 5px 12px;
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 600;
}

.buttonDone {
    position: absolute;
    bottom: 10px;
    font-size: 2rem;
    color: var(--white);
    border-radius: 5px;
    width: 95%;
    height: 30px;
    background-color: var(--primary);
}

.buttonDone:hover {
    opacity: 0.8;
    cursor: pointer;
}
