.wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.aside {
    background-color: var(--primary-light);
    width: 36%;
    height: 100vh;
}
.image {
    margin: 200px 100px;
}
.main {
    flex: 1;
    padding: 50px 150px;
    height: 100vh;
}
.title {
    color: var(--white);
    font-size: 16px;
}
.input {
    margin: 20px;
    margin-left: -1px;
    ::placeholder {
        color: #515365 !important;
    }
}
.submit {
    margin-top: 20px;
    margin-left: -1px;
    background-color: var(--primary-darker);
    color: #fff;
    width: 38%;
    font-size: 18px;
}
.submit1 {
    margin-left: -1px;
    background-color: var(--background-color);
    color: #000;
    width: 30%;
    font-size: 14px;
}
.forget {
    margin-top: 20px;
    background-color: transparent;
    color: #fff;
    width: 38%;
    font-size: 18px;
}
.tabs {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.tab {
    user-select: none;
    font-size: 30px;
    font-weight: 600;
    transition: border-bottom 0.5s ease;
    position: relative;
    color: white;
    margin-right: 100px;
}
