.wrapper {
    width: 91.5%;
    margin: auto;
    background-color: var(--background-color);
}

.content {
    width: 100%;
    border-radius: 8px;
    position: relative;
}

.profile-background {
    margin-top: 10px;
    width: 100%;
    height: 420px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: var(--background-color);
}

.tabs-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 160px;
    background-color: var(--white);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.tab {
    flex: 1;
    font-size: 2.4rem;
    margin: auto;
    margin-top: 80px;
    padding: 20px;
    cursor: pointer;
    color: #9a9fbf;
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 39%;
    width: 300px;
    margin: auto;
}

.avatar {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid #ccc;
    margin: 0 auto;
}

.fullNameContainer {
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
}

.fullname {
    margin: auto 0;
    font-size: 2.4rem;
}

.updateNameIcon {
    cursor: pointer;
    margin: auto 12px;
}

.updateNameIcon:hover {
    color: black;
}

.active {
    color: #0093ff;
}

.buttonContainer {
    position: absolute;
    bottom: 14px;
    right: -466px;
    display: flex;
    flex-direction: row;
}

.addButton {
    font-size: 13px;
    margin-right: 24px;
    padding: 12px 30px;
    border: 0;
    border-radius: 12px;
    background-color: var(--primary);
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.addButton:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
}

.addButton:active {
    background-color: #3d94cf;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

.addButton1 {
    font-size: 13px;
    margin-right: 24px;
    padding: 12px 30px;
    border: 0;
    border-radius: 12px;
    background-color: #999696;
    color: #ffffff;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.addButton1:hover {
    background-color: #a1a3a4;
    box-shadow: 0 0 20px #d7edfc50;
    transform: scale(1.1);
}

.addButton1:active {
    background-color: #92a0aa;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}

.friend {
    text-align: center;
    margin: 10px;
    margin-right: 40px;
    font-size: 20px;
}

.updateAvatar {
    position: absolute;
    top: 150px;
    left: 200px;
    background-color: transparent;
}

.updateAvatarIcon {
    font-size: 20px;
    padding: 4px;
}

.updateAvatarIcon:hover {
    color: black;
}
