.wrapper {
    height: 100vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.changeMode {
    margin: 10px 0 0 5.5%;
    font-size: 20px;
    background-color: var(--background-color);
    padding: 8px 14px;
    width: 10vw;
}

.buttonDone {
    font-size: 2rem;
    color: var(--white);
    border-radius: 5px;
    height: 40px;
    background-color: var(--primary-darker);
    width: 10vw;
    margin: 30px auto;
}

.buttonDone:hover {
    opacity: 0.8;
    cursor: pointer;
}
