.wrapper {
    --search-border-radius: 100px;
    --search-height: 60px;
    height: var(--default-layout-header-height, 60px);
    width: var(--default-layout-header-width);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.inner {
    height: 100%;
    width: 100%;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    background-color: var(--primary);
    width: 80%;
}

.logo-link {
    background-color: var(--primary);
    align-content: center;
    justify-content: center;
    display: flex;
}

// actions

.actions {
    display: flex;
    align-items: center;
}

.action_btn {
    padding: 4px 16px;
    font-size: 3rem;
    color: white;
    background-color: transparent;
}

.user_avatar {
    margin-right: 16px;
    margin-left: 8px;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.amount-container {
    position: absolute;
    top: 0;
    right: 2px;
    background-color: white;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    display: flex;
}

.amount {
    color: black;
    font-size: 14px;
    margin: auto;
    font-weight: 500;
}
