.wrapper {
    margin-left: 60px;
}
.search,
.search-result {
    width: 500px;
    max-height: 230px;
    overflow: auto;
}

.search-title {
    padding: 5px 12px;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 600;
}

.search {
    position: relative;
    background-color: var(--primary-darker);
    padding-left: 16px;
    height: 45px;
    border-radius: var(--search-border-radius);
    border: 2px solid transparent;
    overflow: hidden;
    display: flex;
    input {
        flex: 1;
        height: 100%;
        padding-right: 40px;
        margin-top: 4px;
        background-color: transparent;
        font-size: 1.8rem;
        color: var(--white);
    }

    &:focus-within {
        border-color: #666;
    }
}

.clear-btn,
.loading {
    font-size: 18px;
    color: #c8c8c8;
    position: absolute;
    background-color: transparent;
    right: 74px;
    top: 50%;
    transform: translateY(-50%);
}

.loading {
    animation: spinner 1s linear infinite;
}
@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn {
    color: var(--white);
    width: 70px;
    height: 100%;
    background-color: transparent;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 2.2rem;
    &:hover {
        cursor: pointer;
        background-color: rgba(45, 91, 227, 0.5);
    }
    &:active {
        background-color: rgba(45, 91, 227, 0.3);
    }
}
