.wrapper {
    height: 330px;
    overflow: auto;
}

.content-message {
    margin: 12px;
    font-style: Helvetica, Arial;
    max-width: 200px; // Giới hạn chiều rộng của tin nhắn
    word-wrap: break-word; // Cho phép xuống hàng khi tin nhắn quá dài
}

.content-name {
    margin: 12px 14px;
    font-style: Helvetica, Arial;
    font-size: 1.4rem;
    opacity: 0.7;
}

.avatar {
    margin-top: 12px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    float: left;
    cursor: pointer;
    &:hover {
        opacity: 0.6;
    }
}

.notification {
    margin: 10px 0;
    text-align: center;
    padding-right: 4%;
    font-style: italic;
    font-size: 1.4rem;
    opacity: 0.7;
}
