.wrapper {
    width: 85%;
    min-height: 300px;
    margin: auto;
}

.post-form {
    position: relative;
}

.avatar {
    position: absolute;
    margin-right: 16px;
    margin-left: 8px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
    &:hover {
        opacity: 0.6;
    }
}

.avatarImg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.main-input {
    margin-top: 12px;
    width: 89%;
    font-size: 2rem;
    margin-left: 70px;
    min-height: 140px;
    &::placeholder {
        font-size: 2rem;
    }
}

.post-actions {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

.add-image-container {
    display: flex;
    cursor: pointer;
}

.add-image-container:hover {
    background-color: #f1f1f1;
}

.add-image-container:hover .add-image-button {
    background-color: #f1f1f1;
}

.add-image-button {
    cursor: pointer;
    margin: auto 10px;
    width: 24px;
    height: 24px;
    &:hover {
        background-color: #f1f1f1;
    }
}

.add-image-icon {
    width: 100%;
    height: 100%;
    color: green;
}

.add-user-icon {
    width: 100%;
    height: 100%;
    color: var(--primary-darker);
}

.add-location-icon {
    width: 100%;
    height: 100%;
    color: red;
}

.add-emotion-icon {
    width: 100%;
    height: 100%;
    color: #fce16b;
}

.post-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 8px;
}

.friends-info {
    font-size: 1.8rem;
    margin-bottom: 8px;
    max-height: 58px;
    overflow: hidden;
}

.location-info {
    margin-top: 6px;
    margin-bottom: 4px;
    display: flex;
    align-items: center;
}

.location-info p {
    font-size: 1.7rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.limit-width {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
    height: 25.5px;
}

.location-info h4 {
    font-size: 1.7rem !important;
    margin: 0;
    cursor: default;
}

.add-image-button-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.add-image-button-2 {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.radio-container {
    // height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.radio-item {
    width: 100%;
    font-size: 1.7rem;
    display: flex;
    flex: 1;
}

.radio-label {
    color: var(--black);
    margin: auto 8px;
}

input[type='radio'] {
    height: 20px;
    width: 20px;
    margin: 4px;
}

.submit-button {
    font-size: 2rem;
    margin: 8px;
    margin-top: 54px;
    height: 36px;
    width: 110px;
}

.private-opacity {
    opacity: 0.5;
}

.radio-label {
    cursor: pointer;
}
