.delete-image-button {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}

.form-control1 {
    flex: 1;
    background-color: #f7f7f7;
    margin: 0 26px;
    padding: 8px;
    border-radius: 10px;
    min-height: 80px;
}

.label1 {
    margin: auto 0;
    width: 140px;
}

.form-control {
    flex: 1;
}

.form-group {
    display: flex;
}

.delete-user-icon {
    font-size: 24px;
}

.buttonDone {
    position: absolute;
    bottom: 10px;
    font-size: 2rem;
    color: var(--white);
    border-radius: 5px;
    width: 97%;
    height: 30px;
    background-color: var(--primary);
}

.buttonDone:hover {
    opacity: 0.8;
    cursor: pointer;
}
